@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Mr+Bedfort');



* {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Mr Bedfort', cursive;
	color: white;
	font-size: 60px;
	text-align: center;
	padding-top: 90px;
	background-color: none;
} 

.SignInTitle, .SignUpTitle, .EditTitle {
	font-family: 'Quicksand', sans-serif;
	color: #FFB6C1;
	font-size: 60px;
	text-align: center;
	padding-top: 90px;
	background-color: none;

}

.EditTitle {
	font-size: 50px;
}

header {
	margin-top: 0;
	margin-bottom: 0;
	height: 250px;
	background-image:url("http://farm5.staticflickr.com/4111/5044921464_5df8e8688d_b.jpg");
	background-size: cover;
	text-align: center;
	background-color: none;
}

body {
	font-family: 'Quicksand', sans-serif;
	background-color: #FFB6C1;
}

main {
	margin-top: 0px;
	background-color: #FFB6C1;
}

p {
	text-align: left;
}

.CurrentPosts {
	text-align: left;
	margin-top: 0;
}

.MovieTitle {
	margin-bottom: 10px;
	margin-top: 15px;
}

.UsernameSearch {
	margin-bottom: 10px;
}

.LastName {
	margin-bottom: 10px;
}

.Search {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
}

.Post {
	margin-left: 10px;
}

.SubmitSignUp {
	width: 120px;
	height: 40px;
	border-radius: 5px;
	margin-top: 25px;
	margin-bottom: 20px;
	background-color: gray;
	margin-top: 10px;
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-size: 23px;
}

#password_SignUp {
	margin-bottom: 20px;
	padding: 2px 2em;
	margin-left: 5px;
}

.SignInButton, .SignUpButton, .submit, .SignOutButton, .Edit, .LogIn, .Home {
	width: 90px;
	height: 30px;
	border-radius: 5px;
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	background-color: gray;
}

.SignUpButton {
	margin-top: 20px;
}


.HomeButtons {
	margin-bottom: 10px;
	position: absolute;
	top: 0%;
	right: 2%;
}

.Home {
	margin-top: 15px;
	font-size: 20px;
}

.searchTitle1 {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 20px;
}

.searchTitle2 {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 20px;
	margin-top: 25px;
}
.LogIn {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 120px;
	height: 40px;
	font-size: 23px;
}

#password {
	margin-bottom: 20px;
}

.SignInButton {
	margin-top: 10px;
	margin-bottom: 10px;
}

.RecentPosts {
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-size: 30px;
}

.Edit {
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-size: 20px;
	margin-top: 20px;
}


.Page1, .Page2, .Page3, .Page4, .Page5 {
	background-color: #FFB6C1;
	min-height: 100%;
}

.Page2, .Page5 {
	margin: 0;
}

#password {
	margin-top: 10px;
}

#MovieTitle_Search, #Username_Search, #username, #password {
	padding: 2px;
} 

.container3, .container4, .container5, .container6 {
	text-align: center;
	margin-top: 20px;
	background-color: #FFB6C1;
	min-height: 100%;
}

#MovieTitle_NewPost {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 3px;
}

.PostReview {
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-size: 35px;
}

.PreviousPosts {
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-size: 35px;
	margin-top: 20px;
}

.PostReviewButton, .submit, .LogIn {
	font-family: 'Quicksand', sans-serif;
	color: white;
	background-color: gray;
	font-size: 20px;
}

.PostReviewButton {
     width: 120px;
     height: 40px;
     font-size: 17px;
}

#MovieTitle {
	margin-bottom: 10px;
}

#FirstName {
	margin-bottom: 10px;
}

#LastName {
	margin-bottom: 10px;
}

#ReviewText {
	box-sizing: border-box;
	margin-bottom: 10px;
	width: 200px;
	height: 180px;
	margin-top: 10px;
}

.mainDiv {
	margin: 0 auto;
	width: 75%;
}

#FirstName_SignUp, #LastName_SignUp, #username_SignUp {
	margin-bottom: 10px;
	padding: 2px 2em;
}

.container {
	display: inline-block;
}

.container, .container3, .containerPrevious {
	display: inline-block;
}

.container2, .containerSearch {
	width: 500px;
	float: left;
}

.container4 {
	margin-top: 10%;
}

.columnCreate {
	display: flex;
}

.create-post-container{
	flex: 0 40%;
	box-sizing: border-box;
}

.posts-list-container{
	flex: 0 60%;
	box-sizing: border-box;
	padding-left: 90px;
}

.container_main {
	text-align: left;
}

.HomeButtonSection {
	float: right;
	margin-right: 15px;
}

.movieTitle {
	margin-top: 30px;
	font-size: 20px;
}

.RWindow {
	font-size: 20px;
}

.publishedOn {
	margin-bottom: 20px;
}

.delete_link, .edit_link {
	margin-bottom: 20px;
	color: white;
}

#EditText {
	padding: 5px;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/*Screen 320*/
/*
 * @media only screen and (max-width: 640px)
 * @media only screen and (max-width: 960px)
 */
@media only screen and (max-width: 960px) {
	.container2 {
		width: 400px;
		margin: auto;
	}
	.containerSearch {
		width: 200px;
	}
}

@media only screen and (max-width: 640px) {
	.container2 {
		width: 100%;
		margin: auto;
	}
	.containerSearch {
		width: 300px;
	}
	.PostReview {
		margin-top: 20px;
	}

	.PreviousPosts {
		margin-top: 40px;
	}
}

@media only screen and (min-width: 1280px) {

	.container_main {
		text-align: center;
	}
	.MovieTitle {
		width: 100%;
	}
    .FirstName {
    	width: 100%;
    }
    .LastName {
    	width: 100%;
    }
}