@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Mr+Bedfort');



* {
	margin: 0;
	padding: 0;
}

h1, .SignInTitle, .SignUpTitle {
	font-family: 'Mr Bedfort', cursive;
	color: white;
	font-size: 40px;
	text-align: center;
	background-color: none;
}

header {
	margin-top: 0;
	margin-bottom: 0;
	height: 250px;
	background-image:url("https://c1.staticflickr.com/9/8152/7631995834_05257af933_b.jpg");
	text-align: center;
	background-color: none;
}

body {
	font-family: 'Quicksand', sans-serif;
}

main {
	margin-top: 0px;
	background-color: #DA70D6;
}

.CurrentPosts {
	text-align: center;
	margin-top: 0;
}

.MovieTitle {
	margin-bottom: 10px;
}

.FirstName {
	margin-bottom: 10px;
}

.LastName {
	margin-bottom: 10px;
}

.Search {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
}

.Post {
	margin-left: 10px;
}

.SubmitSignUp {
	width: 70px;
	height: 30px;
	border-radius: 5px;
	margin-bottom: 20px;
	background-color: gray;
	margin-top: 10px;
	font-family: 'Mr Bedfort', cursive;
	color: white;
	font-size: 20px;
}

.MyProfile, .SignInButton, .SignUpButton, .submit, .SignOutButton, .Edit, .Delete {
	width: 90px;
	height: 30px;
	border-radius: 5px;
	color: white;
	font-family: 'Mr Bedfort', cursive;
	font-size: 20px;
	background-color: gray;
}

.HomeButtons {
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.SignIn {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 70px;
	height: 30px;
}

.SignOutButton {
	margin-top: 10px;
}

.MyProfile {
	font-size: 15px;
}

.RecentPosts {
	font-family: 'Mr Bedfort', cursive;
	color: white;
	font-size: 30px;
}

.Edit {
	font-family: 'Mr Bedfort', cursive;
	color: white;
	font-size: 20px;
}

.Delete {
	font-family: 'Mr Bedfort', cursive;
	color: white;
	font-size: 20px;
}

.Page2, .Page3, .Page4 {
	background-color: #DA70D6;
}

#password {
	margin-top: 10px;
}

.container3, .container4, .container5 {
	text-align: center;
	margin-top: 20px;
}

.PostReview {
	font-family: 'Mr Bedfort', cursive;
	color: white;
	font-size: 30px;
}

.PreviousPosts {
	font-family: 'Mr Bedfort', cursive;
	color: white;
	font-size: 30px;
}

.PostReviewButton, .submit, .SignIn {
	font-family: 'Mr Bedfort', cursive;
	color: white;
	background-color: gray;
	font-size: 20px;
}

#MovieTitle {
	margin-bottom: 10px;
}

#FirstName {
	margin-bottom: 10px;
}

#LastName {
	margin-bottom: 10px;
}

#ReviewText {
	margin-bottom: 10px;
	width: 100px;
	height: 100px;
}

.container {
	display: inline-block;
}

.container2 {
	width: 500px;
}

@media only screen and (min-width: 1280px) {
	.MovieTitle {
		width: 100%;
	}
    .FirstName {
    	width: 100%;
    }
    .LastName {
    	width: 100%;
    }
}