@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Mr+Bedfort');
@import url('https://fonts.googleapis.com/css?family=Grand+Hotel|Poiret+One');


* {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Poiret One', cursive;
	color: white;
	font-size: 60px;
	text-align: center;
	padding-top: 90px;
	background-color: none;
} 

header {
	margin-top: 0;
	margin-bottom: 0;
	height: 250px;
	background-size: cover;
	text-align: center;
	background-color: none;
}

body {
	font-family: 'Quicksand', sans-serif;
	background: linear-gradient(175deg,#D66D75, #E29587, #267871);
    min-height: 100%;
    padding-bottom: 20px;
}

html {
	background: linear-gradient(175deg,#D66D75, #E29587, #267871);
    height: 100%;
}

main {
	margin-top: 0px;
}

p {
	text-align: left;
}

ul {
	list-style: none;
}

li {
	padding-bottom: 10px;
}

img {
	margin-left: 26%;
	margin-top: 25%;
}

img:hover {
	background-image: url('Arrow2.png');
}

.description {
	color: white;
	font-size: 20px;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}

.SignInTitle, .SignUpTitle, .EditTitle, .SignUpTitle {
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-size: 40px;
	text-align: center;
	padding-top: 90px;
	background-color: none;
}

.EditTitle {
	padding-top: 60px;
	color: black;
}

.MovieTitle-entry {
	margin-left: 25%;
	padding-bottom: 20px;
	padding-bottom: 5px;
}

.Username-entry {
	margin-left: 28%;
	padding-bottom: 20px;
	padding: 5px;
}


.container {
	color: white;
}

.CurrentPosts {
	text-align: left;
	margin-top: 0;
}

.MovieTitle {
	margin-bottom: 10px;
	margin-top: 15px;
}

.UsernameSearch {
	margin-bottom: 10px;
}

.LastName {
	margin-bottom: 10px;
}

.Search {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
	cursor: pointer;
}

.Post {
	margin-left: 10px;
}

.SubmitSignUp {
	width: 120px;
	height: 40px;
	border-radius: 5px;
	margin-top: 25px;
	margin-bottom: 20px;
	background-color: gray;
	margin-top: 10px;
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-size: 23px;
	border: none;
	cursor: pointer;
}

.SignInButton, .SignUpButton, .submit, .SignOutButton, .Edit, .LogIn, .Home, .back, .modalDeleteButton, .ProfileButton {
	width: 90px;
	height: 30px;
	border-radius: 5px;
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	background-color: #716f6f;
	border: none;
	cursor: pointer;
}

.submit {
	margin-left: 20%;
	margin-top: 10px;
}

.SignUpButton, .SignOutButton, .ProfileButton, .Home, .submit {
	padding-bottom: 2px;
	height: 35px;
}

.modalDeleteButton {
	margin-top: 10px;
	cursor: pointer;
}

.SignUpButton {
	cursor: pointer;
}


.HomeButtons {
	margin-bottom: 10px;
	position: absolute;
	top: 3%;
	right: 2%;
}

.Home, .back {
	margin-top: 15px;
	font-size: 20px;
	float: right;
	margin-right: 2%;
	cursor: pointer;
}

.mainDiv {
	margin: 0 auto;
	width: 75%;
}


.searchTitle1 {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 20px;
}

.searchTitle2 {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 20px;
	margin-top: 25px;
}
.LogIn {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 120px;
	height: 40px;
	font-size: 23px;
}

.SignInButton {
	margin-bottom: 10px;
	cursor: pointer;
	padding-bottom: 2px;
	height: 35px;
}

.RecentPosts {
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-size: 30px;
	width: 64%;
	margin: 0 auto;
}

.Edit {
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-size: 20px;
	margin-top: 20px;
	cursor: pointer;
}

.Page2, .Page5 {
	margin: 0;
}

.container3 {
	text-align: center;
	margin-top: 20px;
	min-height: 100%;
	color: white;
	width: 130px;
}

.container4 {
	text-align: center;
	margin-top: 20px;
	min-height: 100%;
	color: white;
}

.container6 {
	text-align: center;
	margin-top: 20px;
	min-height: 100%;
	color: white;
}

.container5 {
	text-align: center;
	margin-top: 20px;
	min-height: 100%;
	color: white;
}

.container5 {
	color: black;
}


.PostReview {
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-size: 35px;
}

.PreviousPosts {
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-size: 35px;
	margin-top: 20px;
}

.PostReviewButton, .submit, .LogIn {
	font-family: 'Quicksand', sans-serif;
	color: white;
	background-color: #716f6f;
	font-size: 20px;
	border: none;
	cursor: pointer;
}

.PostReviewButton {
     width: 120px;
     height: 40px;
     font-size: 17px;
     cursor: pointer;
}

.container4 {
	margin-top: 40px;
	color: white;
}

.container6 {
	margin-top: 5%;
	color: white;
}

.container5 {
	margin-top: 40px;
	color: black;
}

.columnCreate {
	display: flex;
}

.create-post-container{
	flex: 0 40%;
	box-sizing: border-box;
}

.posts-list-container{
	flex: 0 60%;
	box-sizing: border-box;
	padding-left: 90px;
}

.container_main {
	text-align: left;
}

.HomeButtonSection, .EditButtonSection, {
	float: right;
	margin-right: 15px;
}

.movieTitle {
	margin-top: 30px;
	font-size: 20px;
}

.RWindow {
	font-size: 20px;
	width: 55%;
	margin: 0 auto;
}

.text {
	width: 95%;
	margin: 0 auto;
}
.nameDate {
	width: 55%;
	margin: 0 auto;
}

.publishedOn {
	margin-bottom: 20px;
}

.delete_link, .edit_link {
	margin-bottom: 20px;
	color: white;
}

.SignInTitle {
	font-size: 20px;
}

.EditModalClass {
	position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6);
}

.Editmodal-content {
	background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    line-height: 1.6;
    border-radius: 5px;
    padding-top: 2px;
}

.SignInModalClass {
	position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6);
}

.SignInmodal-content {
	background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    line-height: 1.6;
    border-radius: 5px;
}

.Editclose {
	color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.SignInclose {
	color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal, .editModal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 25px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    line-height: 1.6;
    border-radius: 5px;
}

.modal-contentEdit {
	background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
}

/* The Close Button */
.close, .editClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.editClose {
	font-size: 38px;
	color: black;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.checkbox {
	width: 25px;
	top: 49%;
	right: 55%;
	position: absolute;
}

.checkbox label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  	left: 0;
	background: #eee;
	border:1px solid #ddd;
}

.checkbox label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;

	transform: rotate(-45deg);
}

.checkbox label:hover::after {
	opacity: 0.5;
}

.checkbox input[type=checkbox]:checked + label:after {
	opacity: 1;
}

.checkMessage {
	padding-top: 7px;
	font-weight: bold;
}

.login, .login2 {
	font-weight: bolder;
	color: red;
}

.SignIn, .SignOut, .SignUp, .Profile {
	display: inline-block;
}

.SignOutButton {
	margin-left: 4px;
}

#password_SignUp {
	margin-bottom: 20px;
	padding: 2px 2em;
	margin-left: 5px;
}


#MovieTitle {
	margin-bottom: 10px;
}

#FirstName {
	margin-bottom: 10px;
}

#LastName {
	margin-bottom: 10px;
}

#MovieTitle_NewPost {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 7px;
	border-radius: 3px;
	width: 150px;
}

#MovieTitle_Search, #Username_Search, #username, #password {
	padding: 2px;
	border: 1px solid #bdc4c9;
    font-size: 16px;
    width: 30%;
    min-height: 25px;
    line-height: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    -webkit-appearance: none;
} 

#MovieTitle_Search, #Username_Search {
	padding: 5px;
	width: 50%;
	margin-top: 5px;
	margin-bottom: 5px;
}

#username, #password {
	width: 25%;
	min-height: 27px;
	padding-bottom: 7px;
}

#ReviewText {
	box-sizing: border-box;
	margin-bottom: 10px;
	width: 350px;
	height: 250px;
	margin-top: 10px;
	border-radius: 3px;
	border: white;
}


#FirstName_SignUp, #LastName_SignUp, #username_SignUp, #password_SignUp {
	margin-bottom: 15px;
	padding: 2px 2em;
	border: 1px solid #bdc4c9;
    font-size: 16px;
    width: 65%;
    min-height: 30px;
    line-height: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    -webkit-appearance: none;
}

#password {
	margin-bottom: 20px;
	margin-top: 10px;
	width: 25%;
}


#EditText {
	padding: 7px;
	border-radius: 3px;
	border: solid black 1px;
	font-size: 14px;
}

#editTitle {
	margin-bottom: 10px;
	padding: 6px;
	width: 200px;
	border-radius: 3px;
	font-size: 14px;
}





/*Screen 320*/
/*
 * @media only screen and (max-width: 640px)
 * @media only screen and (max-width: 960px)
 */



@media only screen and (min-width: 320px) {
	.columnCreate {
		display: block;
	}
	.PostReview {
		width: 90%;
		padding-top: 50px;
	}

	.Home {
		margin-top: 15px;
	}
	body {
		min-height: 135%;
	}
	#EditText {
		width: 90%;
	}
	h1 {
		padding-top: 95px;
		font-size: 50px;
	}
	.Search {
		margin-top: 70px;
	}
	.container_main {
		width: 50%;
	}
	.checkbox {
		position: relative;
		top: 107%;
		right: 0%;
	}
	.mainDiv {
    margin: 0 auto;
    width: 70%;
	}
	.container2 {
		width: 250px;
	}
	header {
		height: 180px;
	}
	.HomeButtons {
		right: 15%;
	}
	#MovieTitle_Search, #Username_Search, #username, #password {
	padding: 3px;
	border: 1px solid #bdc4c9;
    font-size: 16px;
    width: 50%;
    min-height: 25px;
    line-height: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-appearance: none;
	} 
	#MovieTitle_Search, #Username_Search {
		width: 100%;
	}

	.submit {
		width: 60%;
	}
	.Username-entry {
		margin-left: 33%;
		padding: 5px;
	}
	.MovieTitle-entry {
		padding: 5px;
	}
	.RecentPosts {
		width: 80%;
	}
	.SignInmodal-content {
	background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
    line-height: 1.6;
    border-radius: 5px;
	}
	.SignInTitle {
	font-size: 16px;
	}
	.Editmodal-content {
	background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    line-height: 1.6;
    border-radius: 5px;
    padding-top: 2px;
	}
	img {
	margin-left: 27%;
	margin-top: 19%;
	margin-bottom: 5px;
	}
	.container3 {
		width: 235px;
		margin: 0 auto;
	}
	#ReviewText {
		width: 240px;
	}
}

@media only screen and (min-width: 375px) {
	.container_main {
		width: 60%;
		margin: 0 auto;
	}
	h1 {
		padding-top: 120px;
	}
	.HomeButtons {
		right: 20%;
	}
	.checkbox {
		position: relative;
		top:81%;
		right: 0%;
	}
	.mainDiv {
    margin: 0 auto;
    width: 70%;
	}
	.container2 {
		width: 250px;
	}
	.Search {
		margin-top: 80px;
	}
	img {
	margin-left: 29%;
	margin-top: 46%;
	margin-bottom: 23px;
	}
	#MovieTitle_Search, #Username_Search {
	padding: 4px;
	border: 1px solid #bdc4c9;
    font-size: 16px;
    width: 100%;
    min-height: 25px;
    line-height: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-appearance: none;
	} 
	.container3 {
		width: 235px;
		margin: 0 auto;
	}
	#ReviewText {
		width: 240px;
	}
}

@media only screen and (min-width: 414px) {
	.checkbox {
		position: relative;
		top: 71%;
		right: 0%;
	}
	.container2 {
		width: 300px;
	}
	.HomeButtons {
		right: 23%;
	}
	.mainDiv {
    margin: 0 auto;
    width: 70%;
	}
	.container2 {
		width: 250px;
	}
	.Username-entry {
		margin-left: 37%;
	}
	.MovieTitle-entry {
		margin-left: 30%
	}
	.submit{
		margin-top: 20px;
	}
	.CurrentPosts {
		margin-top: 59px;
	}
	#MovieTitle_Search, #Username_Search {
	padding: 5px;
	border: 1px solid #bdc4c9;
    font-size: 16px;
    width: 100%;
    min-height: 25px;
    line-height: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-appearance: none;
	} 
	.container3 {
		width: 270px;
		margin: 0 auto;
	}
	#ReviewText {
		width: 280px;
	}
}

@media only screen and (min-width: 640px) {
	.container2 {
		width: 100%;
		margin: auto;
	}
	.containerSearch {
		width: 300px;
	}

	.PreviousPosts {
		margin-top: 40px;
	}

	#FirstName_SignUp {
		margin-top: 20px;
	}


	#MovieTitle_Search, #Username_Search, #username, #password {
	padding: 3px;
	border: 1px solid #bdc4c9;
    font-size: 16px;
    width: 30%;
    min-height: 25px;
    line-height: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-appearance: none;
	} 

	#MovieTitle_Search, #Username_Search {
		width: 50%;
	}

	#username, #password {
	width: 50%;
	min-height: 27px;
	}
	.mainDiv {
    margin: 0 auto;
    width: 70%;
	}
	.container2 {
		width: 250px;
	}
	#MovieTitle_Search, #Username_Search {
		margin-top: 5px;
	}
}

@media only screen and (min-width: 768px) {
	.columnCreate {
		display: flex;
	}
	.container, .container3, .containerPrevious {
	display: inline-block;
	}
	body {
		min-height: 100%;
	}
	#EditText {
		width: 55%;
	}
	h1 {
		padding-top: 150px;
	}
	main {
		padding-top: 90px;
	}
	.containerSearch {
		width: 500px;
		margin: 0 auto;
		padding-bottom: 20px;
	}
	.container2 {
		width: 500px;
		margin: 0 auto;
		min-height: 700px;
	}
	.checkbox {
		position: absolute;
		top: 34%;
		right: 37%;
	}
	.HomeButtons {
		right: 2%;
	}
	.mainDiv {
    margin: 0 auto;
    width: 51%;
	}
	#FirstName_SignUp, #LastName_SignUp, #username_SignUp, #password_SignUp {
	margin-bottom: 20px;
	padding: 2px 2em;
	border: 1px solid #bdc4c9;
    font-size: 16px;
    width: 40%;
    min-height: 30px;
    line-height: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    -webkit-appearance: none;
	}

	#username, #password {
    width: 35%;
    min-height: 27px;
	}
	.submit {
		width: 30%;
		margin-left: 24%;
	}
	#MovieTitle_Search, #Username_Search {
		width: 80%;
		padding: 5px;
	}
	.Username-entry {
		margin-left: 34%;
	}
	.SignInmodal-content {
	background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    line-height: 1.6;
    border-radius: 5px;
	}
	img {
		margin-top: 10%;
	}
	.CurrentPosts {
		top: 200%;
	}
	.container3 {
	text-align: center;
	margin-top: 20px;
	min-height: 100%;
	color: white;
	width: 130px;
	margin: 0 auto;
	margin-left: 10px;
	}
	#ReviewText {
	box-sizing: border-box;
	margin-bottom: 10px;
	width: 275px;
	height: 250px;
	margin-top: 10px;
	border-radius: 3px;
	border: white;
	}
	.container2 {
		margin-top: 250px;
	}
}

@media only screen and (min-width: 1024px) {
	#EditText {
		width: 70%;
	}
	.PostReview {
		width: 100%;
		padding-top: 0px;
	}

	li {
		padding-bottom: 7px;
	}
	.Search {
		margin-top: 10px;
	}
	.container2 {
		width: 500px;
		margin: auto;
		margin-top: 470px;
		min-height: 820px;
	}
	.checkbox {
		top: 25%;
		right: 47%;
	}
	.mainDiv {
    margin: 0 auto;
    width: 40%;
	}
	.containerSearch {
		width: 500px;
		margin: 0 auto;
		padding-bottom: 20px;
		margin-top: 50px;
	}
	#username, #password {
    width: 50%;
    min-height: 27px;
    padding: 7px;
	}
	.RecentPosts {
		margin-top: 40px;
	}
	.submit {
		height: 40px;
		width: 35%;
	}
	img {
		margin-left: 31%;
		margin-top: 30%;
	}
	h1 {
		padding-top: 150px;
	}
	main {
		padding-top: 90px;
	}
}

@media only screen and (min-width: 1280px) {

	.container_main {
		text-align: center;
	}
	.MovieTitle {
		width: 100%;
	}
    .FirstName {
    	width: 100%;
    }
    .LastName {
    	width: 100%;
    }
    h1 {
    	padding-top: 80px;
    	font-size: 60px;
    }
    .Home {
		margin-top: 15px;
	}
	.PostReview {
		width: 100%;
		margin-top: 18px;
	}
	.container2 {
		width: 500px;
		margin-bottom: 0px;
	}
	.containerSearch {
		width: 500px;
		margin: 0 auto;
		padding-bottom: 20px;
	}
	.container2 {
		width: 500px;
		margin: 0 auto;
		padding-top: 25%;
	}
	.checkbox {
	width: 25px;
	top: 51%;
	right: 55%;
	position: absolute;
	}
	.mainDiv {
    margin: 0 auto;
    width: 24%;
	}
	header {
		height: 220px;
	}
	.Search {
		margin-top: 10px;
	}
	#MovieTitle_Search, #Username_Search {
	width: 70%;
	padding-bottom: 5px;
	padding: 6px;
	margin-bottom: 10px;
	}
	#FirstName_SignUp, #LastName_SignUp, #username_SignUp, #password_SignUp {
	margin-bottom: 20px;
	padding: 2px;
	border: 1px solid #bdc4c9;
    font-size: 16px;
    width: 30%;
    min-height: 30px;
    line-height: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    -webkit-appearance: none;
	}
	.MovieTitle-entry {
	margin-left: 25%;
	padding-bottom: 20px;
	}
	.Username-entry {
	margin-left: 28%;
	padding-bottom: 20px;
	}
	.RWindow {
		width: 79%;
	}
	.nameDate {
		width: 79%;
	} 
	.SignInmodal-content {
	background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    line-height: 1.6;
    border-radius: 5px;
	}
	.SignInTitle {
	font-size: 20px;
	}
	.Editmodal-content {
	background-color: #fefefe;
    margin: auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    line-height: 1.6;
    border-radius: 5px;
    padding-top: 2px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 660px;
    position: absolute;
	}
	img {
	margin-left: 26%;
	margin-top: 25%;
	margin-bottom: 0px;
	}
	.CurrentPosts {
	text-align: left;
	margin-top: 0;
	}
	#username, #password {
	width: 30%;
	min-height: 27px;
	padding-bottom: 7px;
	}
	.submit {
	margin-left: 16%;
	margin-top: 10px;
	}
	.container3 {
	text-align: center;
	margin-top: 20px;
	min-height: 100%;
	color: white;
	width: 130px;
	}
	#ReviewText {
	box-sizing: border-box;
	margin-bottom: 10px;
	width: 350px;
	height: 250px;
	margin-top: 10px;
	border-radius: 3px;
	border: white;
	}
	main {
		padding-top: 0px;
	}
	.PostReviewButton {
		position: fixed;
		top: 66%;
		left: 14%;
	}
	.newPost {
		position: fixed;
		left: 5%;
	}
}